[Unit]
Description=services file
After=cloud-final.service




[Service]
WorkingDirectory=/home/ubuntu
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/node /home/ubuntu/webapp/index.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-app
User=ubuntu



[Install]
WantedBy=multi-user.target
WantedBy=cloud-init.target